In [55]:
import os


def find_report_path(directory:str,search_term:str) -> str:
    for filename in os.listdir(directory):
        # print(f"Checking file: {filename}")
        if search_term.lower() in filename.lower():
            return os.path.join(directory, filename)
    return None

In [56]:

report_directory:str = "original_reports"

balance_sheet_path:str = find_report_path(report_directory, "balance")
income_statement_path:str = find_report_path(report_directory, "income")
cash_flow_statement_path:str = find_report_path(report_directory, "cash")

if balance_sheet_path == None or income_statement_path == None or cash_flow_statement_path == None:
    raise FileNotFoundError("file not found in the original_reports directory")

print(f"balance sheet path: {balance_sheet_path}")
print(f"income statement path: {income_statement_path}")   
print(f"cash flow statement path: {cash_flow_statement_path}")

balance sheet path: original_reports\Balance Sheet_Annual_Restated.xls
income statement path: original_reports\Income Statement_Annual_Restated.xls
cash flow statement path: original_reports\Cash Flow_Annual_Restated.xls

In [57]:
import pandas as pd

balance_frame: pd.DataFrame = pd.read_excel(balance_sheet_path)
income_frame: pd.DataFrame = pd.read_excel(income_statement_path)
cash_flow_frame: pd.DataFrame = pd.read_excel(cash_flow_statement_path)

In [58]:
balance_frame

,3227_balance-sheet_Annual_Restated,2020,2021,2022,2023,2024
0,Total Assets,1.188062e+10,1.351862e+10,1.128365e+10,1.217586e+10,1.424044e+10
1,Total Current Assets,7.387895e+09,7.863602e+09,6.239764e+09,6.718669e+09,8.191824e+09
2,"Cash, Cash Equivalents and Short Term ...",5.062153e+09,5.745379e+09,4.529492e+09,4.892953e+09,5.980679e+09
3,Cash and Cash Equivalents,4.292172e+09,4.689767e+09,3.862605e+09,4.039696e+09,4.897832e+09
4,Short Term Investments,7.699810e+08,1.055612e+09,6.668870e+08,8.532570e+08,1.082847e+09
...,...,...,...,...,...,...
106,Total Contractual Obligations due Beyond,NaN,1.549460e+08,1.499200e+08,1.436350e+08,1.375620e+08
107,Total Contractual Obligations - Interests ...,NaN,-4.832300e+07,-4.275600e+07,-4.270600e+07,-3.953700e+07
108,Total Contractual Obligations due in year 2,NaN,NaN,NaN,NaN,NaN
109,Total Contractual Obligations due in year 4,NaN,NaN,NaN,NaN,NaN
110,Fiscal year ends in Dec 31 | TWD,NaN,NaN,NaN,NaN,NaN

In [59]:
income_frame

,3227_income-statement_Annual_Restated,2020,2021,2022,2023,2024,TTM
0,Gross Profit,4.718360e+09,5.022642e+09,2.820222e+09,3.366301e+09,5.187044e+09,5.655475e+09
1,Total Revenue,8.148017e+09,8.800642e+09,5.225907e+09,5.844521e+09,8.362273e+09,9.143383e+09
2,Business Revenue,8.148017e+09,8.800642e+09,5.225907e+09,5.844521e+09,8.362273e+09,9.143383e+09
3,Cost of Revenue,-3.429657e+09,-3.778000e+09,-2.405685e+09,-2.478220e+09,-3.175229e+09,-3.487908e+09
4,Cost of Goods and Services,-3.429657e+09,-3.778000e+09,-2.405685e+09,-2.478220e+09,-3.175229e+09,-3.487908e+09
5,Operating Income/Expenses,-2.869355e+09,-3.197841e+09,-2.811302e+09,-2.652199e+09,-3.428387e+09,-3.643531e+09
6,"Selling, General and Administrative Expenses",-9.463780e+08,-1.027567e+09,-9.033880e+08,-8.572600e+08,-1.037499e+09,-9.787320e+08
7,General and Administrative Expenses,-5.731740e+08,-6.189140e+08,-5.753400e+08,-5.417740e+08,-6.519440e+08,-5.980850e+08
8,Selling and Marketing Expenses,-3.732040e+08,-4.086530e+08,-3.280480e+08,-3.154860e+08,-3.855550e+08,-3.806470e+08
9,Research and Development Expenses,-1.922977e+09,-2.170274e+09,-1.911664e+09,-1.805940e+09,-2.423283e+09,-2.664799e+09
10,"Other Income/Expense, Operating",NaN,0.000000e+00,3.750000e+06,1.100100e+07,3.239500e+07,0.000000e+00
11,Total Operating Profit/Loss,1.849005e+09,1.824801e+09,8.920000e+06,7.141020e+08,1.758657e+09,2.011944e+09
12,"Non-Operating Income/Expense, Total",-7.227700e+07,1.009330e+08,1.085829e+09,1.712030e+08,2.883740e+08,1.491930e+08
13,Total Net Finance Income/Expense,3.955100e+07,2.120500e+07,5.101300e+07,1.201110e+08,1.649860e+08,1.797050e+08
14,Net Interest Income/Expense,3.955100e+07,2.120500e+07,5.101300e+07,1.201110e+08,1.649860e+08,1.797050e+08
15,Interest Expense Net of Capitalize...,-5.568000e+06,-7.093000e+06,-4.800000e+06,-3.757000e+06,-4.723000e+06,-5.149000e+06
16,Interest Income,4.511900e+07,2.829800e+07,5.581300e+07,1.238680e+08,1.697090e+08,1.848540e+08
17,Net Investment Income,1.816800e+07,-2.216200e+07,-8.409100e+07,-8.921000e+07,-6.685400e+07,-5.397200e+07
18,"Income from Associates, JointVentures ...",1.816800e+07,-2.216200e+07,-8.409100e+07,-8.921000e+07,-6.685400e+07,-5.397200e+07
19,Irregular Income/Expense,-1.050500e+07,7.557000e+06,5.475000e+06,-5.652000e+06,-1.094000e+06,9.710000e+05
20,Write Off/Write Down of Other Assets,-1.050500e+07,7.557000e+06,5.475000e+06,-5.652000e+06,-1.094000e+06,9.710000e+05
21,"Other Income/Expense, Non-Operating",-1.194910e+08,9.433300e+07,1.113432e+09,1.459540e+08,1.913360e+08,2.248900e+07
22,Pretax Income,1.776728e+09,1.925734e+09,1.094749e+09,8.853050e+08,2.047031e+09,2.161137e+09
23,Provision for Income Tax,-3.380830e+08,-3.496320e+08,-5.678100e+07,-8.590500e+07,-2.534400e+08,-2.808630e+08
24,Net Income before Extraordinary Items and Disc...,1.438645e+09,1.576102e+09,1.037968e+09,7.994000e+08,1.793591e+09,1.880274e+09
25,Net Income after Extraordinary Items and Disco...,1.438645e+09,1.576102e+09,1.037968e+09,7.994000e+08,1.793591e+09,1.880274e+09
26,Non-Controlling/Minority Interests,1.796100e+07,-1.670000e+05,1.280000e+07,0.000000e+00,2.182700e+07,3.139800e+07
27,Net Income after Non-Controlling/Minority Inte...,1.456606e+09,1.575935e+09,1.050768e+09,7.994000e+08,1.815418e+09,1.911672e+09
28,Net Income Available to Common Stockholders,1.456606e+09,1.575935e+09,1.050768e+09,7.994000e+08,1.815418e+09,1.911672e+09
29,Diluted Net Income Available to Common Stockho...,1.456606e+09,1.575935e+09,1.050768e+09,7.994000e+08,1.815418e+09,1.911672e+09
30,Income Statement Supplemental Section,NaN,NaN,NaN,NaN,NaN,NaN
31,Reported Normalized and Operating Income/E...,NaN,NaN,NaN,NaN,NaN,NaN
32,"Total Revenue as Reported, Supplemental",NaN,NaN,NaN,NaN,NaN,NaN
33,Basic EPS,1.060000e+01,1.132000e+01,7.410000e+00,5.570000e+00,1.252000e+01,1.310000e+01
34,Basic EPS from Continuing Operations,1.060000e+01,1.132000e+01,7.410000e+00,5.570000e+00,1.252000e+01,1.310000e+01
35,Diluted EPS,1.025000e+01,1.091000e+01,7.230000e+00,5.450000e+00,1.218000e+01,1.269000e+01
36,Diluted EPS from Continuing Operations,1.025000e+01,1.091000e+01,7.230000e+00,5.450000e+00,1.218000e+01,1.269000e+01
37,Basic Weighted Average Shares Outstanding,1.374157e+08,1.392169e+08,1.418040e+08,1.435189e+08,1.450014e+08,1.459933e+08
38,Diluted Weighted Average Shares Outstanding,1.421079e+08,1.444487e+08,1.453344e+08,1.466789e+08,1.490491e+08,1.507931e+08
39,Total Dividend Per Share,5.130000e+00,8.480000e+00,9.000000e+00,6.000000e+00,4.520000e+00,1.000000e+01
40,Regular Dividend Per Share Calc,5.130000e+00,8.480000e+00,9.000000e+00,6.000000e+00,4.520000e+00,1.000000e+01
41,Basic EPS,1.060000e+01,1.132000e+01,7.410000e+00,5.570000e+00,1.252000e+01,1.310000e+01
42,Diluted EPS,1.025000e+01,1.091000e+01,7.230000e+00,5.450000e+00,1.218000e+01,1.269000e+01
43,Basic WASO,1.373594e+08,1.392055e+08,1.418128e+08,1.434379e+08,1.449585e+08,1.459886e+08
44,Diluted WASO,1.421531e+08,1.444807e+08,1.453204e+08,1.465955e+08,1.491059e+08,1.508275e+08
45,Fiscal year ends in Dec 31 | TWD,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
cash_flow_frame

,3227_cash-flow_Annual_Restated,2020,2021,2022,2023,2024,TTM
0,"Cash Flow from Operating Activities, Indirect",1.656987e+09,2.763452e+09,2.954030e+08,1.290750e+09,2.509485e+09,2.767672e+09
1,Net Cash Flow from Continuing Operating Ac...,1.656987e+09,2.763452e+09,2.954030e+08,1.290750e+09,2.509485e+09,2.767672e+09
2,Cash Generated from Operating Activities,1.837774e+09,3.066733e+09,2.762290e+08,1.153979e+09,2.392490e+09,2.801770e+09
3,Income/Loss before Non-Cash Adjust...,1.776728e+09,1.925734e+09,1.094749e+09,8.853050e+08,2.047031e+09,2.161137e+09
4,Total Adjustments for Non-Cash Items,4.702310e+08,5.050760e+08,-4.294420e+08,3.566570e+08,3.627810e+08,4.659510e+08
...,...,...,...,...,...,...,...
83,Effect of Exchange Rate Changes,-7.061000e+07,-4.038300e+07,5.917000e+07,-1.053200e+07,8.476000e+07,-5.181500e+07
84,"Cash and Cash Equivalents, Beginning of Pe...",4.719575e+09,4.292172e+09,4.689767e+09,3.862605e+09,4.039696e+09,4.263402e+09
85,Cash Flow Supplemental Section,NaN,NaN,NaN,NaN,NaN,NaN
86,"Change in Cash as Reported, Supplemental",-4.274030e+08,3.975950e+08,-8.271620e+08,1.770910e+08,8.581360e+08,9.602710e+08
87,Fiscal year ends in Dec 31 | TWD,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
from openai import OpenAI
import os
import dotenv
from financial_statement_schema.balance_sheet import BalanceSheets
from financial_statement_schema.income_statement import IncomeStatements
from financial_statement_schema.cashflow_statements import CashflowStatements

from typing import TypeVar
from pydantic import BaseModel
dotenv.load_dotenv()
api_key = os.getenv("OPENAI_API_KEY")
client:OpenAI = OpenAI(api_key=api_key)

T = TypeVar("T",bound=BaseModel)

def generate_report(original_df:pd.DataFrame,output_path:str, schema: T) -> T:
    response = client.responses.parse(
        model= "gpt-4.1-nano",
        text_format=schema,
        input= [
            {"role": "system","content": "you are a financial data extraction assistant. Extract the relevant financial data from the provided financial statement and format it according to the provided schema."},
            {"role":"user","content": original_df.to_csv(sep=",",index=False)}
        ]
    )
    report: T = response.output_parsed
    with open(output_path,"w") as f:
        f.write(report.model_dump_json())
    return report


balance_report_path:str = os.path.join(report_directory, "balance_statements.json")
balance_report: BalanceSheets = generate_report(balance_frame, balance_report_path, BalanceSheets)
print(balance_report)
cashflow_report_path:str = os.path.join(report_directory, "cashflow_statements.json")
cashflow_report = generate_report(cash_flow_frame, cashflow_report_path, CashflowStatements)
print(cashflow_report)
income_report_path:str = os.path.join(report_directory, "income_statements.json")
income_report:IncomeStatements = generate_report(income_frame, income_report_path, IncomeStatements)
print(income_report)

balance_sheets=[BalanceSheet(total_asset=11880621000.0, total_liability=2943135000.0, totalDebt=436553000.0, totalEquity=8937486000.0, current_assets=7387895000.0, current_liabilities=2381035000.0, shareholderEquity=8937486000.0, inventory=769456000.0, account_receivable=1491508000.0, account_payable=1908538000.0, date='2020'), BalanceSheet(total_asset=13518620000.0, total_liability=3322800000.0, totalDebt=447068000.0, totalEquity=10195820000.0, current_assets=7863602000.0, current_liabilities=2806521000.0, shareholderEquity=10195820000.0, inventory=1046335000.0, account_receivable=1015372000.0, account_payable=2326171000.0, date='2021'), BalanceSheet(total_asset=11283652000.0, total_liability=2150857000.0, totalDebt=22800000.0, totalEquity=9132795000.0, current_assets=6239764000.0, current_liabilities=1661447000.0, shareholderEquity=9132795000.0, inventory=988022000.0, account_receivable=637041000.0, account_payable=1605318000.0, date='2022'), BalanceSheet(total_asset=12175855000.0, total_liability=2272963000.0, totalDebt=21884000.0, totalEquity=9902892000.0, current_assets=6718669000.0, current_liabilities=1841632000.0, shareholderEquity=9902892000.0, inventory=680462000.0, account_receivable=992273000.0, account_payable=1620576000.0, date='2023'), BalanceSheet(total_asset=14240437000.0, total_liability=2681811000.0, totalDebt=35049000.0, totalEquity=11558626000.0, current_assets=8191824000.0, current_liabilities=2224356000.0, shareholderEquity=11558626000.0, inventory=950771000.0, account_receivable=1135362000.0, account_payable=2095225000.0, date='2024')]
cashflow_statements=[CashflowStatement(date='2020', operating_cash_flow=1656987000.0, investing_cash_flow=-1789706000.0, free_cashflow=-1272727000.0), CashflowStatement(date='2021', operating_cash_flow=2763452000.0, investing_cash_flow=-1175275000.0, free_cashflow=1588177000.0), CashflowStatement(date='2022', operating_cash_flow=295403000.0, investing_cash_flow=332677000.0, free_cashflow=62808000.0), CashflowStatement(date='2023', operating_cash_flow=1290750000.0, investing_cash_flow=-195038000.0, free_cashflow=1095712000.0), CashflowStatement(date='2024', operating_cash_flow=2509485000.0, investing_cash_flow=-1029228000.0, free_cashflow=1470257000.0), CashflowStatement(date='TTM', operating_cash_flow=2767672000.0, investing_cash_flow=-226113000.0, free_cashflow=2544565000.0)]
income_statements=[IncomeStatement(revenue=8148017000.0, cost_of_goods_sold=3429657000.0, gross_profit=4718360000.0, operating_expenses=946378000.0, operating_income=1849005000.0, net_income=1456606000.0, eps=10.6, interest_expense=-5568000.0, share_outstanding=137415660, date='2020'), IncomeStatement(revenue=8800642000.0, cost_of_goods_sold=3778000000.0, gross_profit=5022642000.0, operating_expenses=1027567000.0, operating_income=1824801000.0, net_income=1575935000.0, eps=11.32, interest_expense=-7093000.0, share_outstanding=139216873, date='2021'), IncomeStatement(revenue=5225907000.0, cost_of_goods_sold=2405685000.0, gross_profit=2820222000.0, operating_expenses=903388000.0, operating_income=8920000.0, net_income=1050768000.0, eps=7.41, interest_expense=-4800000.0, share_outstanding=141804049, date='2022'), IncomeStatement(revenue=5844521000.0, cost_of_goods_sold=2478220000.0, gross_profit=3366301000.0, operating_expenses=857260000.0, operating_income=714102000.0, net_income=799400000.0, eps=5.57, interest_expense=-3757000.0, share_outstanding=143518851, date='2023'), IncomeStatement(revenue=8362273000.0, cost_of_goods_sold=3175229000.0, gross_profit=5187044000.0, operating_expenses=1037499000.0, operating_income=1758657000.0, net_income=1815418000.0, eps=12.52, interest_expense=-4723000.0, share_outstanding=145001438, date='2024'), IncomeStatement(revenue=9143383000.0, cost_of_goods_sold=3487908000.0, gross_profit=5655475000.0, operating_expenses=978732000.0, operating_income=2011944000.0, net_income=1911672000.0, eps=13.1, interest_expense=-5149000.0, share_outstanding=145993280, date='TTM')]